# requirement on rtd
sphinx==8.2.3
sphinx_rtd_theme==3.0.2
numpydoc==1.10.0
docutils>=0.20,<0.22

# other requirements
atomap
colorcet
glob2
hyperspy
numpy
matplotlib
matplotlib-scalebar
pandas
periodictable
PyCifRW==4.3
scikit-image
scipy
tifffile
